{% extends "dashboard.html" %}
{% block body %}

<div class="container"></div>

<title> Change your Item </title>

{% if item != None %}
<h1> Edit Your Listing</h1>
<div class="alert alert-warning" role="alert">
    Leave blank to keep the same
</div>

<form action= "{{ url_for('edit_inventory' ,listing_id = item.listing_id, _external = True ) }}" method = 'post'>

<p> Name</p>
<input type = 'text' placeholder = {{ item.name }} size='40' name = 'name'>
<p> Description?</p>
<input type = 'text' placeholder = {{ item.description }} size='60' name = 'description'>
<p> Price</p>
<input type = 'text' placeholder = {{ item.price }} size='20' name  = 'price'>

</br>
<input type="submit" value = "Change My Listing" >

</form>
{% endif %}


<p><a href="{{ url_for('get_inventory',  _external = True ) }}"> Show me all the listings </a></p>

</div>
{% endblock %}