{% extends "dashboard.html" %}
{% block body %}

<div class="container"></div>
<table width = "700px">
<tr>
    <th> Name </th>
    <th> Description </th>
    <th> Price </th>
    <th> Location </th>
    
    <!-- placeholder for "action link" columns -->
    <th>   </th>
    <th>   </th>
</tr>

{% if inventory == "all" %}
{% set inventory = all_listings() %}
{% endif %}

{% for item in inventory %}
<tr>
<td>{{ item.name }}</td>
<td>{{ item.description }}</td>
<td>{{ item.price }}</td>
<td>{{ item.location.name }}</td>
<td> <a href = {{ url_for('edit_inventory', listing_id = item.listing_id, _external = True ) }} >Edit My Listing</a> </td>
<td> <a href = {{ url_for('delete_inventory', listing_id = item.listing_id, _external = True ) }} >Delete </a> </td>

</tr>

{% endfor %}

</div>
{% endblock %}