{% extends "dashboard.html" %}
{% block body %}

<div class = "container">
    <div id="loginButton">
        <!-- TODO after debugging remove data-approvalprompt=force -->
        <!-- We will receive a one-time code + access token - data-redirecturi = "postmessage" -->
        
            <span class="g-signin"
                data-scope = "openid email"
                data-clientid = {{ client_id }}
                data-redirecturi = "postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="loginCallback"
                data-approvalprompt="force" 
            ></span> 
        
        </div>
</div>

<div id="output"><!-- empty until populated with login results --> </div>

<script>
    function loginCallback (authResult)
    {
        // check that google responded success
        if (authResult['code'])
        {
            // hide login button
            $('#loginButton').attr('style', 'display:none');
        
            // send off the one-time code
            $.ajax ({ 
                type: 'POST' ,
                url: '/gconnect?csrf_token={{csrf_token}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(loginSuccess)
                    {
                        if (loginSuccess) 
                        {
                            
                            $('output').html('Logged In Successfully <br> ' + loginSuccess)
                            setTimeout(function() 
                            {
                                window.location.href = "/listings"
                            }, 1000);
                        }
                        else if (authResult['error'])
                        {
                            console.log(authResult['error'])
                        }
                    
                        else 
                        {
                            $('#output').html('Something went wrong - please call the devs');
                        }
                    }
            })
            
            
        }
        
    }
</script>

{% endblock %}